((* for e in entries *))
\entryOpen{(((e.title|tex)))}{(((e.get('subtitle','')|tex)))}{(((e.get('dates','')|tex)))}{(((e.get('org','')|tex)))}
\projectSummary{(((e.description|tex)))}
\projectClose
((* endfor *))
