
:root {
    
    --background-colour-night: #1a1c4a;
    --background-colour-day: #c5d4e2;
    --background-colour: var(--background-colour-night);

    --name-colour-night: #fafae4;
    --name-colour-day: #103c4a;
    --name-colour: var(--name-colour-night);

    --text1-colour-night: #fafae4;
    --text1-colour-day: rgb(21, 26, 6); 
    --text1-colour: var(--text1-colour-night);

    --text2-colour-night: rgb(229, 255, 0);
    --text2-colour-day: rgb(0, 217, 255); 
    --text2-colour: var(--text1-colour-night);

    --accent-colour-inactive-night: rgb(70, 30, 113);
    --accent-colour-active-night: rgb(128, 84, 158);
    --accent-colour-inactive-day: rgb(29, 93, 135);
    --accent-colour-active-day: rgb(23, 95, 147);
    --accent-colour-active: var(--accent-colour-active-night);
    --accent-colour-inactive: var(--accent-colour-inactive-night);

    --secondary-colour-inactive-night: rgb(39, 192, 90);
    --secondary-colour-active-night: rgb(148, 255, 157);
    --secondary-colour-inactive-day: rgb(61, 233, 56);
    --secondary-colour-active-day: rgb(61, 233, 56);
    --secondary-colour-active: var(--secondary-colour-active-night);
    --secondary-colour-inactive: var(--secondary-colour-inactive-night);

    --fill-colour-inactive-night: rgba(18, 6, 52, 0.119);
    --fill-colour-active-night: rgba(5, 5, 72, 0.542);
    --fill-colour-inactive-day: rgba(202, 209, 241, 0.254);
    --fill-colour-active-day: rgba(183, 219, 230, 0.692);
    --fill-colour-active: var(--fill-colour-active-night);
    --fill-colour-inactive: var(--fill-colour-inactive-night);

    --highlight-colour-night: rgb(211, 235, 55);
    --highlight-colour-day: rgb(255, 225, 0);
    --highlight-colour: var(--highlight-colour-night);

    --shadow-colour-night: rgb(211, 235, 55);
    --shadow-colour-day: rgb(255, 225, 0);
    --shadow-colour: var(--shadow-colour-night);

    --glow-colour-night: rgba(223, 55, 235, 0.639);
    --glow-colour-day: rgb(255, 225, 0);
    --glow-colour: var(--glow-colour-night);

}

img 

{

    user-select: none;

}

body {
    font-family: Arial, sans-serif;
    padding: 2rem;
    background-color: var(--background-colour);
    transition-duration: 1s;
  }

model-viewer {
    display: block;
    width: 100%;
    height: 100%;
}

.sectionHeading

{

    font-size: 50px;
    display: flex;
    justify-content: center;  
    align-items: center;     
    text-align: center; 
    color: var(--text1-colour);

}

.bio {

grid-area: topCaption;
font-size: 10px; 
text-align: center; 
color: var(--text1-colour);

}

.projectContainer {
    display: grid;
    grid-template-columns: 0.5fr 2fr  5fr 2fr 0.5fr;
    grid-gap: 10px;
    grid-template-areas:
    "topLeft topLeft searcher topRight topRight"
    "topLeft topLeft topMiddle topRight topRight"
    "left topCaption topCaption topCaption right"
    "left projectTitle projectTitle projectTitle right"
    "left main main main right"
    "left experienceTitle experienceTitle experienceTitle right"
    "left experience experience experience right"
    "left educationTitle educationTitle educationTitle right"
    "left education education education right";
  }

  .projectList {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;      
    gap: 12px;             
    align-items: flex-start;
    justify-content: center;
    padding: 12px;
    box-sizing: border-box;
  }

.project {

    display: grid;
    grid-template-areas:
    "title coverImage"
    "skills coverImage"
    "description coverImage";
    grid-template-columns: 1fr 1fr;
    width: clamp(100px,100vw,1000px);
    height: 300px;
    justify-self: center;
    border-radius: 10px;
    border-width: 10px;
    align-items: flex-start;    
    border: 5px solid var(--accent-colour-inactive);
    transition-duration: 1s;
    transition-property: all;
    justify-content: left;
    position: relative;
    overflow: hidden;
    padding: 20px;
    gap: 5px;
    grid-template-rows: auto auto 1fr;

}

.projectActive

{

    background-color: var(--fill-colour-active);
    border: 10px solid var(--accent-colour-active);

    box-shadow: inset 0 0 16px var(--shadow-colour);
    box-shadow:  0 0 20px var(--glow-colour);

    grid-template-areas:
    "title title coverImage"
    "description description coverImage"
    "pictureTitle pictureTitle pictureTitle"
    "picture picture picture"
    "caption caption caption";

    grid-template-rows: auto auto auto 30vh;
    grid-template-columns: 1.3fr 0.7fr 2fr;

    height: auto;
    max-height: 100vh;

}

.projectInactive

{

    background-color: var(--fill-colour-inactive);
    height: auto;
    max-height: 20vh;
    grid-template-areas:
    "title title coverImage"
    "description description coverImage";
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    

}

.projectDeactivateBuffer

{

    grid-template-areas:
    "title title coverImage"
    "description description coverImage"
    "picture picture picture";

}

.projectTitle

{

    grid-area: title;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: var(--accent-colour-active);
    font-size: 3vh;
    top: 10px;
    left: 10px;
    margin: 0;   

}

.projectDescription

{

    grid-area: description;
    color: var(--text1-colour);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}

.mediaTitle

{

    grid-area: pictureTitle; 
    font-size: 10px;
    color: var(--text1-colour);
    width: max-content;
    justify-content: center;
    justify-self: center;


}

.picture

{

    z-index: 0;
    border-radius: 1vh;
    border: none;            
    cursor: pointer;
    overflow: visible;
    transition-duration: 1s;
    background-color: var(--background-colour);
    position:absolute;
    width: 0%;
    height: 0%;
    left: 50%;
    right: 50%;
    object-fit: contain;
    pointer-events: none;
    
}

.model

{

    z-index: 0;
    border-radius: 1vh;
    background-position: center;
    border: none;            
    cursor: pointer;
    transition-duration: 1s;
    position:absolute;
    width: 0%;
    height: 0%;
    left: 50%;
    right: 50%;


    background-image: radial-gradient(circle, var(--fill-colour-active) 10%, #00000000 100%);

    
}

.video

{

    z-index: 0;
    border-radius: 1vh;
    background-position: center;
    border: none;            
    cursor: pointer;
    transition-duration: 1s;
    position:absolute;
    width: 0%;
    height: 0%;
    left: 50%;
    right: 50%;

    
}

.pictureClosed

{

    right: 50%;
    top: 18%;
    z-index: 0; 
    height: 0px;
    width: auto;
    opacity: 0;
    transform: translate(-50%, -50%);
    
}

.pictureBefore

{

    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 0;
    height: 70%;
    width: auto;

    left: 70%;
    top: 50%;
    pointer-events: none;
    rotate: 0deg;


}

.pictureAfter

{

    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 0; 
    height: 70%;
    width: auto;
    left: 30%;
    top: 50%;
    pointer-events: none;
    rotate: 0deg;

}

.pictureFront

{

    position: absolute;
    z-index: 1; 
    height: 95%;
    width: auto;
    pointer-events: auto; 
    opacity: 100%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    rotate: 0deg;

    
}


.skillsContainer {
    justify-content: right;
    grid-area: skills;       
    display: flex;           
    flex-wrap: wrap;         
    gap: 8px;  
    left: 5vh;            
  }

.projectSkill

{

    grid-area: skills;
    height: 14px;
    font-size: 10px;
    color: var(--text1-colour);
    background-color: rgba(250, 235, 215, 0);

    display: inline-block;
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid var(--secondary-colour-active);
    width: fit-content;
    border-radius: 5px;
    align-self: start;
    justify-self: start;
    transition-duration: 1s;

}

.pictureArea

{

    grid-area: picture;
    width: 60vh;
    height: 40vh;
    position: relative;
        display: flex;
        justify-content: center; /* horizontal centering */
        align-items: center;     /* vertical centering */
        position: relative;      /* for absolutely positioned children */
        width: 100%;
        height: 200px;           /* or any fixed height */
    
    


}

.coverImage

{

    grid-area: coverImage; 
    height: auto;
    max-height: 20vh;
    width: 40vh;
    transition-duration: 1s;
    border-radius: 1vh;
    justify-self: center;



}

.coverImageClosed

{

    max-height: 10vh;
    width: auto;
    justify-self: end;

}

.hiddenSkill

{

    width: 0;
    height: 0;
    padding: 0px 0px;
    border: 0px solid black;
    font-size: 0px;
    opacity: 0%;

}

.pictureCaption

{

    color: var(--text1-colour);
    font-size: 10px; 
    grid-area: caption;
    width: max-content;
    justify-content: center;
    justify-self: center;

}


.dayNight {
    grid-area: topRight;
    width: 50px;            
    height: 50px;           
    background-image: url('images/nightButton.png');
    background-size: cover; 
    background-position: center;
    border: none;            
    cursor: pointer;
    overflow: visible;
    transition-duration: 1s;
    background-color: var(--background-colour);
}

.dayNight:hover {

    transform: scale(1.2);
    cursor: none;

}

.nameTitle {

    grid-area: topMiddle;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    text-align: center;
    color: var(--name-colour);
    transition-duration: 1s;


}

.nameTitle:hover

{


    transform: scale(1.1);
    cursor: pointer;
}

.searcherArea

{

    grid-area: searcher;
    display: flex;
    flex-wrap: wrap;      
    gap: 12px;             
    align-items: flex-start;
    justify-content: center;
    padding: 12px;
    box-sizing: border-box;

}

.searcher 

{

    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: var(--accent-colour-active);
    transition-duration: 1s;

}

.searcher:hover

{

    color: var(--highlight-colour);

}

.linkArea

{

    grid-area: topRight; 
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-gap: 10px;
    grid-template-areas: 
    "link-1-text link-1-pic"
    "link-2-text link-2-pic"
    "link-3-text link-3-pic"
    "link-4-text link-4-pic";

}

.linkImage

{

    color: var(--accent-colour-inactive);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    text-align: left;
    width: 50px;
    height: 50px; 
    transition-duration: 1s;


}

.linkImageOpen

{

    rotate: 360deg; 
    font-size: 10px;
    color: #ff1e00;
}

.linkText

{


    font-size: 10px;
    color: #0055ff;
    text-align: right;
    font-weight: normal;


    transform: translateY(10px);
    transition-duration: .5s;

}

.linkTextHidden

{

    color: transparent;
    user-select: none;

}

.linkText:hover

{

    color: var(--highlight-colour);
    font-weight: bold;

}

.experienceContainer

{

    grid-area: experience;
    display: flex;
    flex-wrap: wrap;      
    gap: 12px;             
    align-items: flex-start;
    justify-content: center;
    padding: 12px;
    box-sizing: border-box;

}

.experienceBox

{

    display: grid;
    grid-template-areas:
    "title date logo"
    "skills skills logo"
    "description description description";
    grid-template-columns: 1fr 1fr auto;
    width: 100vw;
    height: auto;
    justify-self: center;
    border-radius: 10px;
    border-width: 10px;
    align-items: flex-start;    
    border: 5px solid var(--accent-colour-inactive);
    background-color: var(--fill-colour-inactive);
    transition-duration: 1s;
    justify-content: left;
    position: relative;
    overflow: hidden;
    padding: 20px;
    gap: 5px;
    grid-template-rows: auto auto 1fr;

}

.experienceBox:hover 

{

    border: 7px solid var(--accent-colour-active);

}

.experienceLogo

{

    grid-area: logo;
    height: auto;
    width: 15vh; 

}

.experienceLogo:hover

{

    cursor: pointer; 

}

.experienceDate

{

    grid-area: date;
    font-size: 10px;
    text-justify: right;
    color: var(--text1-colour);

}

.arrow

{

    position: absolute; 
    height: 50px;
    width: 50px;
    background-image: url(images/arrow-right-bold.svg);
    background-image: url('images/arrow-right-bold.svg');
    background-size: contain;      /* make the image fit the element */
    background-repeat: no-repeat;  /* don’t tile the image */
    background-position: center;   /* center the image */
    border: none;                  /* remove button border */
    cursor: pointer;               /* pointer cursor on hover */
    background-color: transparent;
    transition-duration: .5s;


    
}

.left

{


    transition-duration: 0;
    rotate: 180deg;
    transition-duration: .5s;

}

.arrowHidden

{

    height: 0;
    width: 0;

}

.arrow:hover

{

    transform: scale(1.1,1,1);
    transition-duration: .5s;

}

.educationContainer

{

    grid-area: education;
    display: flex;
    flex-wrap: wrap;      
    gap: 12px;             
    align-items: flex-start;
    justify-content: center;
    padding: 12px;
    box-sizing: border-box;

}

.educationBox

{

    display: grid;
    grid-template-areas:
    "title logo"
    "certifications certifications"
    "classes classes";
    grid-template-columns: 1fr 1fr auto;
    width: 100vw;
    height: auto;
    justify-self: center;
    border-radius: 10px;
    border-width: 10px;
    align-items: flex-start;    
    border: 5px solid var(--accent-colour-inactive);
    transition-duration: 1s;
    justify-content: left;
    position: relative;
    overflow: hidden;
    padding: 20px;
    gap: 5px;
    grid-template-rows: auto auto 1fr;

}

.certificationBox

{

    grid-area: certifications;
    width: 100%; 
    height: auto; 
    grid-template-areas: "title logo";

}

.certificationLogo

{

    grid-area: logo;
    width: 20%;
    height: auto; 
    left: 15%;
    top: 50%;

}

.certificationTitle

{

    grid-area: title; 
    font-size: 10px;
    color: var(--text1-colour);

}


