((* if recipient.get('lines') *))
((* for line in recipient['lines'] *))
(((line|tex))) \\
((* endfor *))
\vspace{6pt}

((* endif *))
(((date|tex)))

\vspace{12pt}
(((recipient.get('greeting','')|tex)))

\vspace{8pt}
((* for para in body *))
(((para|trim|tex)))

\vspace{8pt}
((* endfor *))
(((closing|tex)))\\[28pt]
\myName
